<div class="container mt-3">
  <div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">New Account</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="createAccount()">
    <div class="mb-3">
      <label for="type" class="form-label">Type de compte</label>
      <select id="type" class="form-select" formControlName="type">
        <option value="CURRENT">Courant</option>
        <option value="SAVING">Épargne</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="initialBalance" class="form-label">Solde initial</label>
      <input type="number" id="initialBalance" class="form-control"
             formControlName="initialBalance">
    </div>

    <div class="mb-3">
      <label for="customerId" class="form-label">Client</label>
      <select id="customerId" class="form-select" formControlName="customerId">
        <option value="" disabled>Choisir un client</option>
        <option *ngFor="let c of customers" [value]="c.id">{{c.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Créer le compte</button>
  </form>
    </div>
  </div>

</div>
