<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/" routerLinkActive="active">
      <i class="bi bi-bank2 me-2"></i> DigitalBank
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house-door me-1"></i> Home
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-wallet2 me-1"></i> Accounts
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
            <li><a class="dropdown-item" routerLink="/accounts">🔍 Search accounts</a></li>
            <li><a class="dropdown-item" routerLink="/new-account">➕ New account</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="$event.preventDefault()">
            <i class="bi bi-people me-1"></i> Customers
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="max-width: 100px;">
            <li><a class="dropdown-item" routerLink="/customers" >🔍 Search customers</a></li>
            <li><a class="dropdown-item" routerLink="/new-customer">➕ New customer</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
